{% extends 'inflearn_lecture/base.html' %}

{% block content %}

    <!-- home_list.html 복붙하고 for 문 texts 에서 lectures 로 수정함 -->
    <!-- texts: db 에 있는 myText 데이터 -->
    <div class="row">
        {% for text in lectures %}
            
                <div class="col-xs-6 col-md-3">
                    <a href="{% url 'lecture_list_info' pk=text.pk %}" class="thumbnail"> <!-- lecture_list_info/[pk] 페이지로 연결 -->
                        <img src="../../media/{{ text.img_url }}" alt="../../media/{{ text.img_url }}">
                        <div class="caption">
                            <h3>{{ text.title }}</h3>
                        </div>
                    </a>
                    <a href="{% url 'edit_lecture' pk=text.pk %}">
                        <button>수정하기</button>
                    </a>
                </div>            

        {% endfor %}
    </div>

{% endblock %}